<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="cyan">
    <center>
        <h2>Complaints</h2>
        <form action="/complaints_insert/" method="POST">
            {% csrf_token %}
            
            Seller Complaints:<input type="text" name="complaint"><br>
             Date:<input type="text" name="date"><br> 
            <input type="submit" value="ok"><br>
        </form>
        
    </center>
</body>
</html>