<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  bgcolor="violet">
    <center>
        <h1>My Orders</h1>
        <table border="1">
            <thead>
                
                <th>Name</th>
                <th>Product</th>
                <th>Price</th>
                <th>Status</th>
            </thead>
            {% for i in ob1 %}
            <tr>
                
                <td>{{i.customer_name.customer_name}}</td>
                <td>{{i.product_name.product_name}}</td>
                <td>{{i.product_name.product_price}}</td>
                <td>{{i.status}}</td>
            </tr>
            {% endfor %}

        </table>
    </center>
</body>
</html>