{% extends 'base.html' %}
{% load static %}



{% block content %}


      <section>
        <form action="{{ob1.id}}" method="POST">
        <div class="container py-5">
            <div class="row py-5">
                 
               
                <div class="col-md-6 text-center">
                    <img src="{{ob1.image.url}}"  alt="{{i.product_name}}" style="height: 250px; width:auto">
                </div>

                <div class="col-md-6 text-center">  
                 
                         <h1>{{ob1.product_name}}</h1>
                        <p>Price : INR {{ob1.product_price}}.00</p>
                        <p>Offer : {{ob1.product_offer}}</p>
                        <a class="btn btn-lg rounded-pill px-3 btn-outline-danger"
                         href="/orders/{{ob1.id}}">Order</a> <br><br>
                   
                   
                  
                </div>
             
              
            </div>
        </div>
      </form>
       
      </section>

    {% endblock %}



 
    
   
   
