<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="violet">
    <center>
        <h2>Customer Reviews </h2>
        <table border="1">
            
            <thead>
                <th>Name</th>
                <th>Comment</th>
                
                
           </thead>
           {% for i in ob1 %}
           <tr>
                <td>{{i.uname}}</td>
                <td>{{i.comment}}</td>
                
                
                
           </tr>
           {% endfor %}
        </table>
    </center>
</body>
</html>